<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 글쓰기 -->
<!-- ref:그룹번호 = 글번호 -->
<mapper namespace="boardSQL">
<!-- 글쓰기 -->
	<insert id="boardWrite" parameterType="java.util.Map">
		INSERT INTO board(seq,id,name,email,subject,content,ref) 
		values(seq_board.nextval
			 , #{id}
			 , #{name}
			 , #{email}
			 , #{subject}
			 , #{content}
			 , seq_board.currval)
	</insert>
	
<!-- 글목록 -->
	<select id="getBoardList" parameterType="java.util.Map" resultType="board">
		select * from (select rownum rn, tt.* 
		from (select * from board order by ref desc, step asc)tt) 
		where rn between #{startNum} and #{endNum}
	</select>
	
<!-- 총 페이지수 -->
	<select id="getTotalA" resultType="int">
		select count(*) from board
	</select>

<!-- 글 검색 -->
	<select id="getBoardSearch" parameterType="java.util.Map" resultType="board">
		<![CDATA[
	  	select * from 
	  	(select rownum rn, tt.* from
	  	(select * from board where ${searchOption} like '%'||#{keyword}||'%' order by ref desc, step asc)tt
	  	)where rn >= #{startNum} and rn <= #{endNum}
	  	]]>
	</select>
	
<!-- 검색한 글의 총 글 수  -->
	<select id ="getBoardSearchTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from board where ${searchOption} like '%'||#{keyword}||'%'
	</select>
	
<!-- 작성한 글 확인 -->
	<select id="getBoard" parameterType="int" resultType="board">
		select * from board where seq=#{seq}
	</select>	

<!-- 답글 -->
	<insert id="boardReply" parameterType="java.util.Map">
		begin 
			update board set step=step+1 where ref=#{ref} and step>#{step};
			
			insert into board values(seq_board.nextval
									,#{id}
									,#{name}
									,#{email}
									,#{subject}
									,#{content}
									,#{ref}
									,#{lev}+1
									,#{step}+1
									,#{pseq}
									,0
									,0
									,sysdate);
									
			update board set reply=reply+1 where seq=#{pseq};
		end;
	</insert>

<!-- 글 수정 -->
	<update id="boardModify" parameterType="java.util.Map">
	update board set subject=#{subject}, content=#{content}, logtime=sysdate where seq=#{seq}
	</update>
	
<!-- 글 삭제 -->
	<delete id="boardDelete" parameterType="int">
		begin
			update board set reply=reply-1 
			where seq=(select pseq from board where seq=#{seq});

			update board set subject='[원글이 삭제된 답글]' ||subject where pseq=#{seq};

			delete board where seq=#{seq};
		end;
	</delete>
<!-- 조회수 -->
	<update id="boardHit" parameterType="int">
		UPDATE board SET hit=hit+1 where seq=#{seq}
	</update>
</mapper>